@model MozillaLocalLibrary.ViewModels.GenreDetailViewModel
@{ 
    ViewData["Title"] = Model.GenreName;
    
}

    <div class="container">
        <h1>@ViewData["Title"]</h1>

        @if (Model.Books == null)
        {
            <h4>There is no @ViewData["Title"] books.</h4>
        }
        else
        {
    <ul>
        @foreach (var it in @Model.Books)
        {
            var bookAuthor = Model.Authors.First(a => a.BookId == it.BookId);
            
                <li>
                    <a asp-action="Detail" asp-controller="Book" asp-route-id="@it.BookId"><p>@it.Title - @if (bookAuthor != null) {@bookAuthor.Author.Name}</p></a>
                    <p>@it.Summary</p>
                </li>
                <hr />

        }
    </ul>
        }

    </div>